# http://editorconfig.org
root = true

[*]
end_of_line = lf
indent_size = 4
indent_style = tab
insert_final_newline = true
trim_trailing_whitespace = true
insert_final_newline = true
charset = utf-8

[*.{md,yml}]
indent_size = 2
indent_style = space
max_line_length = 0
trim_trailing_whitespace = false

[*.{js,html}]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
max_line_length = 80
trim_trailing_whitespace = true

[COMMIT_EDITMSG]
max_line_length = 0
