@tailwind base;
@tailwind components;
@tailwind utilities;

a {
    @apply text-blue-500;
}

a:hover {
    @apply text-blue-700 underline;
}

.cid { 
    @apply overflow-x-scroll;
    font-size: 0.75em !important;
}

.public-key {
    @apply overflow-x-scroll;
    font-size: 0.75em !important;
}

.private-key {
    @apply overflow-x-scroll;
    font-size: 0.75em !important;
}

.table-button:hover {
    @apply text-white no-underline;
}

.table-button {
    @apply text-center px-1 py-1 w-full rounded-md text-xs text-white block;
}

.table-button.primary {
    @apply bg-blue-500 py-2;
}

.table-button.primary:hover {
    @apply bg-blue-600;
}

.table-button.danger {
    @apply bg-red-500;
}

.table-button.danger:hover {
    @apply bg-red-600;
}

.table-input {
    @apply block w-full rounded-md border-gray-300 shadow-sm text-xs;
}

.table-input:focus {
    @apply border-indigo-300 ring ring-indigo-200 ring-opacity-50;
}

pre[class*="language-"] {
    background-color: #fff !important;
    padding: 25px !important;
    font-size: 0.75em !important;
}

div.stream-children {
    @apply p-4;
}

ul.stream-children {
    @apply pl-2;
}

li.stream-child, li.stream-child code {
    font-size: 0.75rem;
    padding: 0.25em;
}

.object-type {
    @apply px-2 inline-flex text-xs leading-5 font-semibold rounded bg-green-100 text-green-800
}