#
# Example of required environment variables.
#

# Used by S3 Terraform backend to store state in Scaleway Object Storage
export AWS_ACCESS_KEY_ID=""
export AWS_SECRET_ACCESS_KEY=""

# Used by Terraform Scaleway provider to talk to Scaleway API
export SCW_ACCESS_KEY=""
export SCW_SECRET_KEY=""
export SCW_DEFAULT_ORGANIZATION_ID=""

# Used by Terraform Cloudflare provider to configure DNS entries
export CLOUDFLARE_ACCOUNT_ID=""
export CLOUDFLARE_API_TOKEN=""

# Required variable which don't have default values in variables.tf
export TF_VAR_cloudflare_zone_id=""
